@charset "utf-8";

@import url("https://font.elice.io/css?family=Elice+DX+Neolli");

body{
    position: relative;
    height: 1600px;
    overflow-X: hidden;
}

div img {
    margin: 0 auto;
    width: 40%;
    display: block;
    transition: all 0.3s ease-in-out;
}

p{
    text-align: center;
}

header {
    background-color: rgb(255, 208, 0);
    padding: 1% 10%;
}

h1 {
    height: 50px;
    text-align: center;
    font-size: 3em;
    margin-top: 2%;
    font-family: 'Elice DX Neolli';
    color: #fff;
}

h1 img{
    height: 100%;
}

main {
    position: relative;
}

.select-btn {
    display: flex;
    width: 100%;
    height:100%;
    background-color: #222222c2;
    position: absolute;
    z-index: 777;
    transition: all 0.3s ease-in-out;
}

.none{
    display: none;
}

.select-btn h2 {
    padding-top: 30px;
    height: 8%;
    width: 100%;
    font-size: 2em;
    position: absolute;
    color: #656565;
    left: 0;
    top: 5%;
    text-align: center;
    background-color: #fff;
}

.select-btn button{
    display: block;
    cursor: pointer;
    transform: translate(0, 20%);
    line-height: 100%;
    color: #fff;
    font-size: 3em;
    width: 50%;
    height: 100vh;
}

.select-btn button:hover {
    font-weight: bolder;
}


.select-btn #eat{
    background-color: #076814;
}

#eat:hover {
    background-color: #06460f;
}

.select-btn button:last-child{
    background-color: #dd2626;
}

.select-btn button:last-child:hover{
    background-color: #a02121;
}


.gnb{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.gnb > li {
    position: relative;
}


.gnb a{
    font-size: 1.7em;
    font-weight: bolder;
    color: #076814;
}

.gnb li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 0;
    height: 10%;
    background-color: #076814;
    transition: all 0.3s ease-in-out;
}

.onEvent::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 100%;
    height: 10%;
    background-color: #076814;
}

.gnb li:hover a{
    font-size: 1.7em;
    font-weight: bolder;
    color: #000;
}

.gnb li:hover::after{
    width: 100%;
}

.menu {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin: 0 auto;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

#total {
    padding: 10px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
    bottom: 0;
    background-color: rgb(190, 190, 190);
}

#modal {
    background-color: #58585891;
    display: none;
    z-index: 99999;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
}

#cal{
    position: relative;
    background-color: #fff;
    margin: 10%;
}

#cal > p {
    color: #000;
}

#close-btn {
    top: 0;
    right: 1%;
    position: absolute;
    background:none;
    border: 0;
    font-size: 3em;
}